{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:solid/recommended",
    "plugin:markdown/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["solid"],
  "rules": {
    "no-irregular-whitespace": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  }
}
